
.pink{
    background-color: #D3B094!important;
    // background-color: #d2a73e !important;
    
}
img{
    width:40%;
    height:auto;
}

.logo{
    margin-left:2em;
}

@media (max-width: 600px) {
    .logo{
        margin-left:0em;
    }
}

a{
    color:white;
}
a.nav-link{
    padding-left:0px;
}

