<!--Main Navigation-->
<header class="mb-4">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
      <div class="col-sm2">
        <span>
          <img src="assets/logoblanco.png" alt="" class="navbar-brand logo">
        </span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item active nav-link">
            <a routerLink="/index" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item active nav-link">
            <a routerLink="/cards" routerLinkActive="active">Women + science</a>
          </li>
          <li class="nav-item active nav-link">
            <a routerLink="/fair" routerLinkActive="active">Feria</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recursos</a>
          </li> -->
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/women.tech.pue/"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/WomenTechnolog1"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/wom_tech/?hl=es-la"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/channel/UCWcYefHew3u3OdbJzA0hb7g"><i class="fab fa-youtube"></i></a>
          </li>
          
        </ul>
      </div>
    </nav>
  
  </header>
  <router-outlet></router-outlet>
  
  
