
  <!-- Footer -->
  <footer class="page-footer font-small  pt-4">
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <span><img src="assets/logoblanco.png" alt=""></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
         <a href="https://www.instagram.com/wom_tech/?hl=es-la">
          <span >
            <i class="fab fa-instagram "></i>
          </span>
         </a>
         <a href="https://twitter.com/WomenTechnolog1">
          <span>
            <i class="fab fa-twitter"></i>
          </span>
         </a>
         <a href="https://www.facebook.com/women.tech.pue/">
          <span>
            <i class="fab fa-facebook-f"></i>
           </span>  
         </a>
        </div>
      </div>
      <div class="row  d-flex justify-content-center">
        <div class="col-md-8 ">
          <hr class="hr-light">
        </div>
      </div>
      
      <!-- Copyright -->
      <div class=" text-center py-3">Copyright © 2020 | 
        <a href="https://www.facebook.com/women.tech.pue/"> WOMEN + TECHNOLOGY</a>
      </div>
      <!-- Copyright -->
    <!-- Footer -->
    </div>
  
  </footer>
  