.scroll {
    max-height: 100px;
    overflow-y: scroll;
}

.blue{
    background-color:#49598c  !important;
    border-color:#49598c;
}


h1{
    font-family: 'Teko', sans-serif;
    text-align: center;
    color:#d2a73e !important;
    margin: 0 auto;
}