
<!-- <video autoplay muted loop id="myVideo">
    <source src="https://www.youtube.com/embed/jlNoinUtQEk" type="video/mp4">
</video> -->


<!-- <amp-youtube width="480"
  height="270"
  layout="responsive"
  data-videoid="jlNoinUtQEk">
</amp-youtube>
<h2>adios</h2> -->
<br>
<br>
<!-- <div class="embed-responsive embed-responsive-21by9"> -->
   
    <video class="video-fluid z-depth-1" autoplay loop controls [muted]="'muted'" playsinline >
        <source  src="assets/video.mp4" type="video/mp4" />
    </video>   
  <!-- </div> -->

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/jlNoinUtQEk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<!--Carousel Wrapper-->
