<app-parallax-fair></app-parallax-fair>
<div class="container">

    <h2 class="h1-responsive font-weight-bold text-center my-5">
        Conoce a los ponentes
      </h2>
    <br>
    <br>

     <!-- <div class="row mt-5"> -->
        <div class="card-columns"> 
            <!-- Card -->
            <div class="card" *ngFor="let ponente of ponentes">
            
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" [src]="ponente.imagen"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"> </div>
                        </a>
                    </div>
                    
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title">{{ponente.nombre}}</h4>
                        <!-- Text -->
                        <p class="card-text"><strong>Carrera:</strong> {{ponente.carrera}} </p>
                        <p class="card-text"><strong>Fecha:</strong> {{ponente.fecha}} </p>
                        <p class="card-text"><strong>Horario:</strong> {{ponente.horario}} </p>
                        <hr>
                        <p class="card-text scroll"> {{ponente.descripcion}}</p>
                        <!-- Button -->
                       
                    </div>
            </div>
         </div>
    <!-- </div>     -->
</div>
