<div class="container">

    <div class="row mt-5">
        <h1>Feria</h1>
    </div>

    <div class="row mt-5">
        <div class="col-sm-4 mb-3 mb-md-0">
            <!-- Card -->
            <div class="card">
            
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="assets/SV.jpeg"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title">Sreya Vangara</h4>
                        <!-- Text -->
                        <p class="card-text"><strong>Taller:</strong> Ciberseguridad</p>
                        <p class="card-text"><strong>Fecha:</strong> 20 al 24 de Julio</p>
                        <p class="card-text"><strong>Horario:</strong> 15:00 a 16:00 PM</p>
                        <p class="card-text">*TALLER EN INGLÉS*</p>
                        <hr>
                        <p class="card-text scroll">Estudiante de ingeniería electrica e informática en el MIT, con un doble grado en ingenería mecánica. Actualmente trabaja como desarrolladora de software en un firma de comercio de alta frecuencia; además es practicante de ingeniería en una startup de energía de fusión. Le gusta los crucigramas y hornear.</p>
                        <!-- Button -->
                        <a href="tel:9512287161">Mi numero</a>
                        <a href="contact.vcf">Contactos</a>
                        <a href="mailto: begomontes7@gmail.com">correo</a>
                    </div>
            </div>
        </div>
        
    </div> 
</div>
