<div >

  <div class="parallax"  style=" background-image: url('assets/feria/background.jpg');">
      <!-- <div class="row  mt-5 mb-5"></div>
      <div class="row  mt-5 mb-5"></div> -->
      <!-- <div class="row  mt-5 mb-5"></div> -->
     <div>
          <h1 id="titulo">WOMEN + TECHNOLOGY</h1>
     </div>

    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="card">
    
            <div class="view overlay">
              <img
                class="card-img-top"
                src="https://media.giphy.com/media/uBdrbmG9FpQwJpp4m8/giphy.gif"
                alt="Card image cap"/>
                
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">MISIÓN</h4>
              <p class="card-text">
                Colaborar en la reducción de la brecha de género en las ingenierías y
                la ciencia a través de eventos de concientización, empoderamiento y
                divulgación.
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="card">
    
            <div class="view overlay">
              <img
                class="card-img-top"
                src="https://media.giphy.com/media/7zJmjQKt3mbmZPQRdf/giphy.gif"
                alt="Card image cap"/>
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">VISIÓN</h4>
              <p class="card-text">
                Evolucionar como una comunidad que represente a las mujeres dentro de la ingeniería y la ciencia.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    

     

     
  </div>
</div>