            
            <section class="padding-110px-tb bg-dark-blue builder-bg border-none xs-padding-60px-tb" id="feature-section21">
              <div class="container">
                  <div class="row">                     
                      <!-- feature box -->
                      <div class="col-md-6 col-sm-6 col-xs-12 xs-margin-nineteen-bottom xs-text-center">                            
                          <div class="col-md-4 col-sm-4 col-xs-12">
                              <img class="img-round" alt="" src="assets/circuito.png" data-img-size="(W)400px X (H)400px">
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 feature-box-details">
                              <span class="tz-text text-extra-large text-black font-weight-600 sm-text-large margin-five-bottom sm-margin-five-bottom xs-margin-seven-bottom display-inline-block">Misión</span>
                              <div class="text-medium text-blue-gray line-height-24 float-left width-100 tz-text"><p class="no-margin-bottom">Colaborar en la reducción de la brecha de género en las ingenierías y la ciencia a través de
                                eventos de concientización, empoderamiento y divulgación.</p></div>
                          </div>                            
                      </div>
                      <!-- end feature box -->
                      <!-- feature box -->
                      <div class="col-md-6 col-sm-6 col-xs-12 xs-text-center">
                          <div class="col-md-4 col-sm-4 col-xs-12">
                              <img class="img-round" alt="" src="assets/lap.png" data-img-size="(W)400px X (H)400px">
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-12 feature-box-details">
                              <span class="tz-text text-extra-large text-black font-weight-600 sm-text-large margin-five-bottom sm-margin-five-bottom xs-margin-seven-bottom display-inline-block">Visión</span>
                              <div class="text-medium text-blue-gray line-height-24 float-left width-100 tz-text"><p class="no-margin-bottom">Evolucionar como una comunidad que represente a las mujeres dentro de la ingeniería y la ciencia.</p></div>
                          </div>
                      </div>
                      <!-- end feature box -->
                  </div>
              </div>
          </section>            
      