<div class="container-fluid">
  <div class="row">
    <!-- Card -->
    <div class="col-md-6">

      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="assets/circuito.png"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">MISIÓN</h4>
          <!-- Text -->
          <p class="card-text">
            Colaborar en la reducción de la brecha de género en las ingenierías y
            la ciencia a través de eventos de concientización, empoderamiento y
            divulgación.
          </p>
  
          <!-- Button -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="assets/lap.png"
            alt="Card image cap"
          />
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">VISIÓN</h4>
          <!-- Text -->
          <p class="card-text">
            Evolucionar como una comunidad que represente a las mujeres dentro de la ingeniería y la ciencia.
  
          </p>
  
          <!-- Button -->
        </div>
      </div>
    </div>
  </div>
</div>
