.container-fluid{
    background-color:#f8e0f3;
}
h2,h3{
    font-family: 'Source Code Pro', monospace;

}
p{
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
}
img{
   
}

.images{
   margin:0 auto;
}
h4.card-title{
    text-align: center;
}

