

    <div class="scheduleContainer">

        <!-- TIMES -->
    
        <div class="time start-1100">11:00</div>
        <div class="time start-1130">11:30</div>
        <div class="time start-1200">12:00</div>
        <div class="time start-1230">12:30</div>
        <div class="time start-1300">13:00</div>
        <div class="time start-1330">13:30</div>
        <div class="time start-1400">14:00</div>
        <div class="time start-1430">14:30</div>
        <div class="time start-1500">15:00</div>
        <div class="time start-1530">15:30</div>
        <div class="time start-1600">16:00</div>
        <div class="time start-1630">16:30</div>
        <div class="time start-1700">17:00</div>
        <div class="time start-1730">17:30</div>
        <div class="time start-1800">18:00</div>
        <div class="time start-1830">18:30</div>
        <div class="time start-1900">19:00</div>
        
      
        
        <!-- EVENTS -->
      
       
        <div class="event stage-earth start-1100 end-1200 length-5">La Magia de la Luz <span>Areli Montes Pérez</span></div>
        
        
       
        <div class="event stage-white start-1230 end-1300 length-1"></div>
        <div class="event stage-white start-1230 end-1300 length-1"></div>
        <div class="event stage-saturn start-1230 end-1300 length-1">Patrones de Aprendizaje Automático <span>Randi Williams</span></div>
        <div class="event stage-white start-1230 end-1300 length-1"></div>
        <div class="event stage-saturn start-1230 end-1300 length-1">Patrones de Aprendizaje Automático <span>Randi Williams</span></div>
        
        <div class="event stage-earth start-1500 end-1600 length-5">Ciberseguridad<span>Sreya Vangara</span></div>
        
        <div class="event stage-saturn start-1630 end-1700 length-1">Logística en la Industria 4.0 <span>Claudia Lizette Garay Rondero</span></div>
        <div class="event stage-white start-1630 end-1700 length-1"></div>
        <div class="event stage-saturn start-1630 end-1700 length-1">Logística en la Industria 4.0 <span>Claudia Lizette Garay Rondero</span></div>


        <div class="event stage-earth start-1730 end-1800 length-5">Mis primeros pasos en Python <span>Claudia Verónica Pérez Lezama</span></div>
        
     
        
        <div class="event stage-venus start-1830 end-1900 length-1">Matemáticas<span>Carmina Jiménez Flores</span></div>
        <div class="event stage-saturn start-1830 end-1900 length-1">El cerebro: Mitos y realidades  <span>Mariana Pérez Medina</span></div>
        <div class="event stage-venus start-1830 end-1900 length-1">Computación cuántica
            <span>-</span></div>
        <div class="event stage-saturn start-1830 end-1900 length-1">La Química en la Enfermedad de Alzheimer y becas
            <span>Mariana Pérez Medina</span></div>

            <div class="event stage-venus start-1830 end-1900 length-1">Breve paseo por el Firmamento
                <span>Abigali Rodríguez Jiménez</span></div>

        
    </div>
