<div class="container">
    <div class="row mt-5">
        <h1>TUTORIALES DE INSTALACIÓN</h1>
    </div>
</div>

<div class="container my-5 py-5 z-depth-1">

    
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">Taller de ciberseguridad</h3>

          <p class="text-muted">¿Estás interesado en el hackeo y la ciberseguridad? ¿Quieres aprender a esconder mensajes en archivos o descifrar códigos complejos? Durante la semana del curso, aprenderemos diversas habilidades ciberforenses y herramientas, además, explorar la historia del hackeo.</p>
        
          <object data="" type="">
            <a class="btn btn-purple btn-md ml-0" href="https://github.com/SreyaV/cyber-class" role="button">Material taller</a>
        </object>
        <hr>

        <h3 class="font-weight-bold">Manuales de instalación</h3>
        <br>

        <object data="" type="">
            <a class="btn btn-blue btn-md ml-0" href="https://drive.google.com/file/d/1Bzo-lpdUR-tLgWce3OZutVb1rgzJ0nxn/view" role="button">Tutorial instalación wireshark</a>
        </object>

        <object data="" type="">
            <a class="btn btn-green btn-md ml-0" href="https://drive.google.com/file/d/1-8tdi5mQUKM1nmG4erer_YmBj-fecrx-/view" role="button">Tutorial instalación HXD</a>
        </object>

        <object data="" type="">
            <a class="btn btn-yellow btn-md ml-0" href="https://drive.google.com/file/d/1Bh6Sz882w5lECU4Q0NgLyuP1y2jm8BLM/view" role="button">Tutorial instalación Python</a>
        </object>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="assets/hack.jpg" class="img-fluid"
              alt="">
          
          </div>

          
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


    


  </div>



  <!-- <hr> -->
<div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">Taller  mis primeros pasos en Python</h3>

          <p class="text-muted">El objetivo de este taller es que los asistentes puedan conocer los conceptos básicos de Python, entre los que se incluyen variables, tipos de datos, tipos de operadores y sentencias condicionales. El taller será práctico, se empezará desde cero, y se guiará a los participantes en todos los pasos necesarios para desarrollar una aplicación funcional en Python.</p>

      

        </div>
        

        
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">
        <h3 class="font-weight-bold">Abrir consola en Windows</h3>

          <!--Image-->
          <p>1. Presiona la tecla de <kbd> Windows + R </kbd></p>
          <p>2. Escribe <kbd>cmd</kbd>   en la ventana que aparece </p>
          <p>3. Presiona aceptar</p>



          <object data="" type="">
            <a class="btn btn-pink btn-md ml-0" href="https://drive.google.com/file/d/14vKbG_6podNBcP3qVBAf-1LsuV2mFaNx/view" role="button">Tutorial instalación ATOM</a>
        </object>


        <object data="" type="">
            <a class="btn btn-yellow btn-md ml-0" href="https://drive.google.com/file/d/1Bh6Sz882w5lECU4Q0NgLyuP1y2jm8BLM/view" role="button">Tutorial instalación Python</a>
        </object>
        <object data="" type="" class="btn btn-purple btn-md ml-0"><a href="assets/TerminaPLUSpython.pdf" download>Tutorial consola</a></object>
          
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
<hr>
      <div class="row">
          <h1>Código visto en la segunda sesión</h1>

            

                        <div class="col-md-12 mb-4 mb-md-0  .pre-scrollable">
                            <pre>
                                <code>
                                    <strong>
                                    # pedir un numero
                                    print('Dame un numero entero')
                                    # leer desde el usuario ese numero y guardarlo en una variable
                                    val1 = input()
                                    # pedir otro numero
                                    print('Dame otro numero entero')
                                    # leer desde el usuario ese numero y guardarlo en otra variable
                                    val2 = input()
                                    # sumo los dos numeros y guardarla en una variable más
                                    res = int(val1) + int(val2)
                                    # imprimir ese resultado.
                                    print('La suma de ' +  val1 + ' + ' + val2 + ' es ' + str(res))
                                    </strong>
                                </code>
                            </pre>
                        </div>
            
      </div>

     


      <div class="row">
       
          <!-- <div class="col-md-6 mb-4 mb-md-0">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nNedtSPWJgM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> -->
          <h1>Primera sesión</h1>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nNedtSPWJgM" allowfullscreen></iframe>
          </div>

      </div>

      <br>
      <h1>Segunda sesión</h1>
      <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/zZ_X4eawufk"   allowfullscreen></iframe>
        </div>
      </div>


    </section>
    <!--Section: Content-->


  </div>