<div class="">

    <div class="parallax"  style=" background-image: url('assets/header.png');">
        <div class="row  mt-5 mb-5"></div>
        <div class="row  mt-5 mb-5"></div>
        <!-- <div class="row  mt-5 mb-5"></div> -->
       <div>
            <h1 id="titulo">WOMEN + MAJORS WEEK</h1>
        <div class="azul">
            <h2 id="sub">SEMINARIO ONLINE GRATUITO DEL 2 AL 6 DE NOVIEMBRE</h2>
        </div>
    
        <!-- <h3 id="sub3">INSCRIPCIONES DEL 10 AL 17 DE JULIO</h3>] -->
    
        <!-- <h4>Conoce las ponencias y talleres</h4> -->
    
        <h6 id="sub4"></h6>
       </div>
    </div>
</div>